# API Test Results summary


| Test Name             | Status           | Duration (ms) | Comment                         |
|-----------------------|------------------|---------------|---------------------------------|
| TestLogin             | ✅ Success        | 5             | Tests login to idp              |
| TestUseCase1          | ❌ Fail           | 3             | Error in validation of uc1      |
| TestGetfeatures       | ✅ Success        | 4             | Feature flag call ok            |
| TestSample            | ✅ Success        | 2             | Test with sample data ok        |
| TestHttp              | ❌ Fail           | 1             | call failed                     |
