Response status code is 200
Content type is application/vnd.org.jfrog.artifactory.system.Version+json
Response time is less than 500ms
Presence of required fields
Validate format and data types of fields